

 h1,h2, h3, h4, h5, h6{
  color: #202020;
  font-family: 'Roboto';
  text-decoration: none;
  margin-top: 0px;
  font-size: 19px;
}

.u3 {font-size: 14px; margin-top: 10px}
.body {color: #7f7f7f;}
.nazvanie {border-bottom: 2px solid #f2f3f8;}
.nazvanie li {display:inline-block; padding-left: 15px; margin-left: 45px}


*.ya-phone-uvr {margin-right: 100px;}

.container1 {font-size: 26px;
color: #535457;
box-sizing: border-box;
background-color: #f2f3f8;}
.main_page_h1 {margin-left: 35px; 
    margin-top: 85px; 
    font-family: sans-serif;
    font-size: 20 px #535457;
  
  }
  .swiper-slide {
    position: relative;
    white-space: nowrap;
    background-position: center bottom;
    overflow: hidden;}

*h1.div { box-sizing: border-box;}

*.block{
    position: relative;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    margin: 6px;
	padding: 20px 10px;
	width: calc(20% - 20px);
	display: inline-block;
}

  .table {
    border: solid 1px #cfcfcf;
    border-collapse: collapse;
    width: 900px;
    height: auto;
    margin-left: 60px;
}
.container2{
  margin-left: 90px;
  margin-top: 10px;
}
td, th {
  width: 200px; height: 70px;
      border: solid 1px #cfcfcf;
        padding: 10px}



.container a {
font-family: 'Roboto slab', Times, serif;
  font-size: 20px;
  color: #535457;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.025em;
  background-color: f2f3f8;
  fill: f2f3f8;
  
}
.cr3 sliderImage{
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-top: 518px;
}
.sub-head{ font-size: 30px; margin-left: 30px; margin-top: 80px;}

a:hover, .col:hover{
  background: rgba(242, 242, 243, 0.37);
}

.col del {
  font: bold 10px Monospace 
}
.headr li a:active,a:focus {text-decoration: underline #5ad3f1;

}
.col a {
  text-transform: uppercase;
  border-radius: 4px;
  padding: 4px;
}
.col a:focus{
  box-shadow: 0 0 0 3px rgb(53, 56, 233);
}

.logo-img{
  width: 70px;
  float: left;
  margin-top: 0px;
  margin-left: 45px;
margin-right: 100px;
}

.cr3 sliderImage{
  width: 74px;
  height: 74px;
}

td:nth-child(n+6){
  background:rgb(88, 23, 34);
  border-radius: 10px;
  text-align: center;
}
/* https://vk.com/htmllab
https://www.youtube.com/watch?v=2o8BcE0XhMY&list=PLOQDek48BpZGigsyHfaleRff8oZCxN4uQ */

textarea{
  width: 200px;
  height: 50px
}
.container1 li{
text-decoration: none;
margin: auto;
background: none;
}
*.col{
  width: 33%;
}
/*Задача 1
Задать стили для меню в header и footer так, чтобы меню стали горизонтальными на каждой странице сайта*/
.body, html {
  margin:0px;
  padding:0px;
  height: 100%;
  }
#footer{
  background-color:#FFC0FF;
  clear:both;
  height: 50px;
  margin-top:-50px;
  }
header ul, footer ul{
  padding: 0;
  display: table;
  width: 100%;
}
header li, footer li{
  display: table-cell;
}
header li a, footer li a{

  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
 
  font-size: 16px;
}
header a:hover { text-decoration: underline #5ad3f1; }
*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, a, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, input, textarea, select {
    padding: 0;
    margin: 0;
}
.column {
  text-decoration: none;
  line-height: 5px;
  background: none;
  font-size: 16px;
  box-sizing: border-box;
  width: calc(33% - 22px);
  display: inline-block;
  margin-left: 3px;
margin-top: 15px;
vertical-align: top;

}
.column a{ text-decoration: none;}
.column a :focus{text-underline-position: 1px;}
.a hrev { text-decoration: none; font-size: 14px;}
.col04 a{text-decoration: none; font-size: 15px; color :#535457}
.col05 a{text-decoration: none; font-size: 15px; color: #535457}
.column a{text-decoration: none; font-size: 14px; color: #535457}
td a { text-decoration: none; font-size: 12px;}
h1 { margin-left: 2px;}

footer p { font-size: 14px;
}
  h4 {font: 30px sans-serif; 
    color: rgb(91, 27, 211);
    margin-left: 62px;
   
  }
  h5 {font: 30px sans-serif; 
    color: #cfcfcf;
    margin-left: 23px;
  margin-top: 0px;}
h2 {margin-top: 0px}  
.space 
{ 
    text-align: left;
  text-decoration: none;
  line-height: 30px;
  background: none;
  font-size: 18px;
  display: inline-block;
  margin-left: 10px;
width: calc(33% - 20px);
margin-left: 20px;
margin-top: 0px; 
vertical-align: text-top;
}

.container3 {
  text-decoration: none;
  margin-left: 50px ;
  background: none;
  height: 100%;
  }
  .logo-img1{
    width: 80px;
    float: left;
    margin-top: 0px;
    margin-left: 40px;
  margin-right: 0px;
  }
  *.block {
    position: relative;
    width: 100%;
     margin: 0 auto;
    padding: 0;
    text-align: center;
    margin: 6px;
	padding: 20px 10px;
	width: calc(20% - 20px);
	display: inline-block;
}
.content-1 {
  width: 900px;
  margin: 10px 40px 0 40px;
  border: solid 1px #fff;
}

.pick_link { width: 500px;
  margin: 30px 10px 10px 0px;
  border: solid 0px #fff;}
.pic_link  div {
  border: solid 0px;
  width: 30%;
  height: 50px;
  display: inline-block;
font-size: 20px; color: rgb(104, 30, 189);}

.coll div {color: #798491;
  margin-left: 10px;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
  background: transparent;
  font-family: 'Open Sans', sans-serif;
  padding-top: 10px;
  padding-bottom: 0px;
  width: 1100px;
  height: 20px; 
  width: calc(12.1% - 11px);
  display: inline-block;}
  .thead {color: #798491;
    margin-left: 0px;
    padding: 0;
    border: 1px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    width: 1100px;
    height: 35px; 
    display: inline-block;
    padding: 10px 15px;
    outline: auto; color:  #798491;
    background-color: rgb(241, 247, 247);
   }
  
   .product-1 div {
  color: #798491;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
   font-size: 100%;
  font-family: 'Open Sans', sans-serif;
   line-height: initial;
  padding-top: 0px;
  width: 1100px; 
 }
 .product-2 div {
  color: #798491;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
  background: transparent;
  font-family: 'Open Sans', sans-serif;
  padding-top: 10px;
  width: 1100px;
  height: 110px; 
  width: calc(12.5% - 12px);
  display: inline-block;
 }
.product {
  width: 1100px; height: 160px;
  vertical-align: top;
  padding: 0;
  text-align: left;
  margin-left: 0px;

  
padding: 10px 15px;
outline: auto; color: #798491;}
.product-img {margin-left: 35px;}

.col01 {margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  color: #333;
  font-size: 12px;
  line-height: 16px;
  float: left;
}

  .col03 {
    color: #798491;
    margin-left: 0px;
    padding: 0;
    border: 0;
     font-family: 'Open Sans', sans-serif;
     width: px;
    padding-top: 9px !important;
    height: 15px !important;
    padding-bottom: 1px;
    background: none;}
    .col02 {
      color: #798491;
      margin-left: 0px;
      padding: 0;
      border: 0;
       font-family: 'Open Sans', sans-serif;
       width: px;
      padding-top: 9px !important;
      height: 15px !important;
      padding-bottom: 1px;
      background: none;
      display: -webkit-flex;
      flex-shrink: 2;
    }
span {
  flex: 0 0 auto;
  width: 100%;}
  .result-table .t-head {
	padding-top: 14px;}


.t-tr .niceCheck {margin-top:0;}

.t-tr .col09 label {display:none !important;}

.bgnone div.allcol, .bgnone {
	background:none;
}

  
 
 #headerMain {width:100%;
    
 margin-top: 0px;
 
    z-index: 10;
   }
 .swiper-slide {font-size: 20px; margin-left: 30px;}
   .head-M span {font-size: 30px; margin-top: 30px;}     
    
   
   
  #head-M {
    width:100%;
    height: 518px;
    background:#f2f3f8 url(/img/11-2.jpg);
    margin-top: 0px
  
  
  }
  
  
.wrap { display: table;  
   margin-left: 600px;
   vertical-align: top;
 }
 .wrap div {
  display: table-cell; 
   font-size: 14px;
  	width: 140px;
        height: 80px;
  text-align: left; 
margin-top: 0px;
}

ol, li, ul { padding: 0px; margin: 0px; text-decoration: none;}
  

@media screen and (max-width: 500px){
    .logo-img{
    border-radius: 50px;}
  
  logo-img1{
    border-radius: 25%;
      width: auto;
  }
  header, footer,h1,h2,h3,h4,h5,h6{
    text-align: center;
  }
  .container { height: 300px; background-color: #f2f3f8;}
  header li, footer li{  display: block; }
  .col{
    display: block;
    width: 100%;
  }
 
  .table{ margin-left: 40px;  }
  table td {padding: 1px }
  a { text-decoration: none; color:  #798491; }
  a:hover { text-decoration: underline; }

@media print {
  header, footer{
    display: none;
  }
  p{
    font-size: 1.8rem;
  }
  * {
    border: 0 !important;
  }
  a::after{
    content: ' (' attr(href) ')' ;}
}}
