

 h1,h2, h3, h4, h5, h6{
  color: rgb(78, 81, 243);
  font-family: 'Roboto', cursive;
  text-decoration: none;
  margin-top: 0px;
}
.nazvanie {position: relative;
  width: 700px;
  margin: 20px;
  padding: 3px;
  margin-right: 50px;
padding: 0px 0px;
width: calc(30% - 30px);
display: inline-block;}
.nazvanie div{
  width: 20px;
  height: 40px;
  margin-right: 50px;


}
*.ya-phone-uvr {margin-right: 100px;}

.container1 {font-size: 26px;
color: rgba(70, 8, 214, 0.918);
box-sizing: 24px;}
.main_page h1 p{margin-left: 15px;
    text-align: justify; }

*h1.div { box-sizing: border-box;}

*.block{
    position: relative;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    margin: 6px;
	padding: 20px 10px;
	width: calc(20% - 20px);
	display: inline-block;
}


  .table{
    border: solid 1px blue;
    border-collapse: collapse;
    width: 500px;
    height: 100px;
    margin: auto;
}
.container2{
  margin: 100px;
  margin-top: 0px;
}
td, th {
  width: 190px;
      border: solid 1px blue;
        padding: 10px}
h1 table {margin-left: 20px;}

.container,.p{
font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px; color: rgb(18, 19, 77);
  color: #798491;
  font-size: 18px;
  line-height: 30px;
}
.cr3 sliderImage{
  display: inline-block;
  width: 64px;
  height: 64px;
}
 
a:hover, .col:hover{
  background: rgba(242, 242, 243, 0.37);
}

.col del {
  font: bold 10px Monospace 
}
.col a:focus{
  box-shadow: 0 0 0 3px rgb(84, 25, 245);
}
.col a {
  text-transform: uppercase;
  border-radius: 4px;
  padding: 4px;
}
.col a:focus{
  box-shadow: 0 0 0 3px rgb(53, 56, 233);
}

.logo-img{
  width: 90px;
  float: left;
  margin-top: 5px;
  margin-left: 40px;
margin-right: 230px;
}

.cr3 sliderImage{
  width: 74px;
  height: 74px;
}

td:nth-child(n+6){
  background:rgb(88, 23, 34);
  border-radius: 10px;
  text-align: center;
}
/* https://vk.com/htmllab
https://www.youtube.com/watch?v=2o8BcE0XhMY&list=PLOQDek48BpZGigsyHfaleRff8oZCxN4uQ */

textarea{
  width: 200px;
  height: 50px
}
.container1 li{
text-decoration: none;
margin: auto;
background: none;
}
.col{
  width: 33%;
}
/*Задача 1
Задать стили для меню в header и footer так, чтобы меню стали горизонтальными на каждой странице сайта*/

header ul, footer ul{
  padding: 0;
  display: table;
  width: 100%;
}
header li, footer li{
  display: table-cell;
}
header li a, footer li a{
  text-transform: uppercase;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  background: rgb(233, 230, 255);
  font-size: 20px;
}

.main-menu__wrap {
    padding: 2px 10px 10px;
}
.container {
    padding-left: 16px;
    padding-right: 16px;
}
.container2 {margin-left: 20;}

*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, a, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, input, textarea, select {
    padding: 0;
    margin: 0;
}

header, .main-menu, .consultation, footer {
    font-family: 'Open Sans', sans-serif;
    line-height: initial;
}
h
.h2:first-child, div > h3:first-child, div > .h3:first-child {
  padding: 0;
}
.column {
  text-transform: uppercase;
   text-align: 0;
  text-decoration: none;
  line-height: 30px;
  background: none;
  font-size: 16px;
  box-sizing: border-box;
  width: calc(33% - 22px);
  display: inline-block;
  margin-left: 23px;
line-height: 20px;
margin-top: 0px;
vertical-align: top;
}
h1 { margin-left: 2px;}

footer p { font-size: 14px;
}
  h4 {font: 30px sans-serif; 
    color: rgb(91, 27, 211);
    margin-left: 62px;
   
  }
  h5 {font: 30px sans-serif; 
    color: rgb(91, 27, 211);
    margin-left: 23px;
  margin-top: 0px;}
h2 {margin-top: 0px}   
.space 
{ 
    text-align: 0px;
  text-decoration: none;
  line-height: 30px;
  background: none;
  font-size: 18px;
  display: inline-block;
  margin-left: 10px;
width: calc(33% - 20px);
margin-left: 20px;
margin-top: 0px; 
vertical-align: text-top;
}
container2,.p{
  font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px; color: rgb(18, 19, 77);
    color: #798491;
    font-size: 18px;
      line-height: 30px;
      border: 0px}

.container2 .tr,th{
  width: 20;
  height: 25px;
}
.container3 {
  text-decoration: none;
  margin-left: 50px ;
  background: none;
  height: 100%;
  }
  .logo-img1{
    width: 80px;
    float: left;
    margin-top: 10px;
    margin-left: 45px;
  margin-right: 0px;
  }
  *.block {
    position: relative;
    width: 100%;
     margin: 0 auto;
    padding: 0;
    text-align: center;
    margin: 6px;
	padding: 20px 10px;
	width: calc(20% - 20px);
	display: inline-block;
}
.content-1 {
  width: 900px;
  margin: 10px 40px 0 40px;
  border: solid 1px #fff;
}

.pick_link { width: 500px;
  margin: 30px 10px 10px 0px;
  border: solid 0px #fff;}
.pic_link  div {
  border: solid 0px;
  width: 30%;
  height: 50px;
  display: inline-block;
font-size: 20px; color: rgb(104, 30, 189);}


@media screen and (max-width: 500px){
  .logo-img{
    border-radius: 50px;}
  
  logo-img1{
    border-radius: 25%;
      width: auto;
  }
  header, footer,h1,h2,h3,h4,h5,h6{
    text-align: center;
  }
  .container{ width: 300px;  }
  header li, footer li{  display: block;  }
  .col{
    display: block;
    width: 100%;
  }
 
  .table{ margin: auto  }
  table td {padding: 10px }


@media print {

  header, footer{
    display: none;
    block-size: autogg;
  }
  p{
    font-size: 1.8rem;
  }
  * {
    border: 0 !important;
  }
  a::after{
    content: ' (' attr(href) ')' ;}
}}
